body {
    overflow: hidden;
}

.form-label {
    background: red;
}

.form-control {
    border: none;
    width: 40vw;
    height: 8vh;
}

.lgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    width: 60vw;
    height: 60vh;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bgLogin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
